<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field { color: red; }
  .alertRedColor { color: red; }
</style>

<div class="container-fluid background" style="padding-top: 8%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">

          <form name="customerForm">

            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
              {{ 'Add Customer' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold text-center">
              {{ 'Update Customer' | translate }}
            </h2>

            <!-- Message -->
            <div *ngIf="form.error && form.message" class="alert alert-danger">
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success">
              {{ form.message }}
            </div>

            <!-- Customer Name -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'CustomerName' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>

                <input type="text"
                       name="customerName"
                       [(ngModel)]="form.data.customerName"
                       class="form-control"
                       placeholder="{{ 'Enter customer name' | translate }}">
              </div>

              <span *ngIf="form.inputerror?.customerName" class="alertRedColor">
                {{ form.inputerror.customerName }}
              </span>
            </div>

            <!-- Location -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Location' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </div>
                </div>

                <input type="text"
                       name="location"
                       [(ngModel)]="form.data.location"
                       class="form-control"
                       placeholder="{{ 'Enter location' | translate }}">
              </div>

              <span *ngIf="form.inputerror?.location" class="alertRedColor">
                {{ form.inputerror.location }}
              </span>
            </div>

            <!-- Contact Number -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'ContactNumber' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>

                <input type="text"
                       name="contactNumber"
                       [(ngModel)]="form.data.contactNumber"
                       class="form-control"
                       placeholder="{{ 'Enter contact number' | translate }}">
              </div>

              <span *ngIf="form.inputerror?.contactNumber" class="alertRedColor">
                {{ form.inputerror.contactNumber }}
              </span>
            </div>

            <!-- Buttons (Order jaisa) -->
            <div class="row pt-3 justify-content-center">
              <button *ngIf="!form.data.id"
                      (click)="submit()"
                      class="btn btn-success mr-2">
                {{ 'Save' | translate }}
              </button>

              <button *ngIf="form.data.id"
                      (click)="submit()"
                      class="btn btn-success mr-2">
                {{ 'Update' | translate }}
              </button>

              <a class="btn btn-warning"
                 [routerLink]="['/customerlist']"
                 style="color:white">
                {{ 'List' | translate }}
              </a>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
